{% extends 'base.html' %}
{% block content %}


<div class="container-sm mt-5 blurb_container p-2" style="background-color: #CEE4DE">
    <div class="col" style="background-color: #CEE4DE">
    
        
        
        <div class="row border bg-light blurb-and-response" style="background-color: #CEE4DE">
            <div class="col blurb-col rounded" style="background-color: #3B876E; border: solid; border-color:#CEE4DE; border-width: 30px">
                
                <div class="card border-0 w-100 h-80 mt-2 mb-2" style="background-color: #3B876E">
                    {% if blurb.image != "" %}
                    <img src="{{blurb.image}}" class="card-img-top" alt="...">
                    {% endif %}
                    <h5 class="card-title">{{blurb.user}}</h5>
                    <div class="card-body" style="background-color: #CEE4DE">
                        <p class="card-text">{{blurb.content}}</p>
                        {% if blurb.link != "" %}
                        <p>Link:</p>
                        <a href="{{blurb.link}}">{{blurb.link}}</a>
                        {% endif %}
                        <p>tags:</p>
                        <p>
                            {% for tag in blurb.tags %}
                            #{{tag}}
                            {% endfor %}
                        </p>
                        <div>
                            
                            {% if user == blurb.user %}
                            <a href="/{{blurb.id}}/delete" class="btn mb-2 btn-outline-warning btn-sm">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- blurb col -->
                
                <div class="container mb-5">
                    <div class="row">
                        
                        <div class="col m-1">
                            
                            
                            <form class="form-floating" action="{% url 'response_create' blurb.pk %}" method="post">
                                {% csrf_token %}
                                <input class="input" type="hidden" name="{{user}}" required="" />
                                <div class="form-floating mb-3">
                                    
                                    <textarea class="form-control" type="text" id="floatingInputValue" name="content"
                                    style="height: 150px" placeholder="Respond to this Blurb" required=""></textarea>
                                    <label for="floatingInput">Respond to this Blurb</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col ms-5">
                                    <input class="button btn-info border-0 rounded shadow-lg is-primary" type="submit" value="Add Response" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
            <div class="col response-col w-100 rounded" style="background-color: #2F3052; border: solid; border-color:#CEE4DE; border-width: 30px">
                
                {% for response in responses %}
                {% if response.blurb_id == blurb.id%}
                
                <div class="border p-2 mt-2 mb-2" id="{{blurb.user}}responses" style="background-color: #CEE4DE">
                    
                    <p><strong>{{response.user}}</strong></p>
                    <p class="p-2" style="background-color: #CEE4DE">{{response.content}}</p>
                    {% if user == response.user %}
                    <a href="/blurbs/{{response.id}}/delete" class="btn mb-2 btn-outline-warning btn-sm">Delete</a>
                    {% endif %}
                </div>
                
                
                {% endif %}
                {% endfor %}
                <!-- response col -->
            </div>
            <!-- blurb-response row -->
        </div>
        
        <!--  blurb container -->
    </div>
</div>
    
    
    {% endblock %}